.header {
  height: 10vh;
  border-bottom: 1px solid #efefef;
}
.header h1 {
  margin: 0;
}

.body {
  display: flex;
  height: 90vh;
}

.col-4 {
  flex: 4;
  border-right: 1px solid #efefef;
  overflow: scroll;
}

.col-6 {
  flex: 6;
  border-right: 1px solid #efefef;
  overflow: scroll;
  padding: 12px;
}
